In [1]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.20" 2023-07-18; OpenJDK Runtime Environment (build 11.0.20+8-post-Ubuntu-1ubuntu120.04); OpenJDK 64-Bit Server VM (build 11.0.20+8-post-Ubuntu-1ubuntu120.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.8/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmprnrvxg47
  JVM stdout: /tmp/tmprnrvxg47/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmprnrvxg47/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         04 secs
H2O_cluster_timezone:       Etc/GMT
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.42.0.2
H2O_cluster_version_age:    23 days
H2O_cluster_name:           H2O_from_python_unknownUser_bymmck
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.926 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.10 final
--------------------------  ----------------------------------

In [2]:
data_path = "https://autogluon.s3.amazonaws.com/datasets/Inc/train.csv"

# Load data into H2O
df = h2o.import_file(data_path)

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [3]:
df

  age  workclass      fnlwgt  education       education-num  marital-status      occupation         relationship    race    sex       capital-gain    capital-loss    hours-per-week  native-country    class
-----  -----------  --------  ------------  ---------------  ------------------  -----------------  --------------  ------  ------  --------------  --------------  ----------------  ----------------  -------
   25  Private        178478  Bachelors                  13  Never-married       Tech-support       Own-child       White   Female               0               0                40  United-States     <=50K
   23  State-gov       61743  5th-6th                     3  Never-married       Transport-moving   Not-in-family   White   Male                 0               0                35  United-States     <=50K
   46  Private        376789  HS-grad                     9  Never-married       Other-service      Not-in-family   White   Male                 0               0                15  United-States     <=50K
   55  ?              200235  HS-grad                     9  Married-civ-spouse  ?                  Husband         White   Male                 0               0                50  United-States     >50K
   36  Private        224541  7th-8th                     4  Married-civ-spouse  Handlers-cleaners  Husband         White   Male                 0               0                40  El-Salvador       <=50K
   51  Private        178054  Some-college               10  Married-civ-spouse  Sales              Husband         White   Male                 0               0                40  ?                 >50K
   33  Private        263561  Some-college               10  Married-civ-spouse  Craft-repair       Husband         White   Male                 0               0                60  United-States     >50K
   46  Private        173613  HS-grad                     9  Divorced            Adm-clerical       Not-in-family   White   Female               0               0                40  United-States     <=50K
   18  Private        214617  Some-college               10  Never-married       Handlers-cleaners  Own-child       White   Male                 0               0                30  United-States     <=50K
   43  Private         84661  Assoc-voc                  11  Married-civ-spouse  Sales              Husband         White   Male                 0               0                45  United-States     <=50K
[39073 rows x 15 columns]